{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>Instagram Profile Layout</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{% static 'assets3/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets3/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <style>
        {% comment %} .online-status {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 5px;
            background-color: #ccc;
        } {% endcomment %}
        .online-status.online {
            background-color: #2ecc71;
            border-radius: 50%;
            position: absolute;
            right: 8px;
            bottom: 30px;
            width: 15px;
            height: 15px;
        }
        .profile-image {
            position: relative;
            display: inline-block;
        }
        .story-ring {
            padding: 4px;
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            border-radius: 50%;
            display: inline-block;
        }
        .profile-image img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            border: 3px solid #fff;
            background: #fff;
        }
    </style>

</head>
<body>

    <header>
        <br><br><br>
        <div class="container">

            <div class="profile">

                <div class="profile-top">
                    <div class="profile-top-left">
                        <div class="profile-image">
                            {% if active_stories %}
                                <a href="{% url 'storyapp:story_detail' active_stories.0.pk %}">
                                    <span class="story-ring">
                                        <img src="{{ active_stories.0.content.url }}" alt="Story Image">
                                    </span>
                                    {% if active_stories.0.user.profile.is_online %}
                                        <span class="online-status online" title="Online"></span>
                                    {% else %}
                                        <span class="online-status" style="background:#ccc;" title="Offline"></span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <img src="{{profile.image.url}}" alt="Profile Image">
                                {% if profile.is_online %}
                                    <div class="online-status online" title="Online"></div>
                                {% else %}
                                    <div class="online-status" title="Offline"></div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="profile-user-settings">
                        {% if profile.first_name %}
                        <h6 class="profile-user-name">{{profile.first_name}} {{profile.last_name}}</h6> <br>
                        {% endif %}
                        <h5 style="font-size: 15px;" class="profile-user-name">@{{profile.user.username}}</h5>

                        {% if request.user.is_authenticated and request.user == profile.user %}
                        <a style="text-decoration: none;" href="{% url 'editprofile' %}" class="btn profile-edit-btn">Edit Profile</a>
                        {% comment %} <a style="text-decoration: none;" href="{% url 'sign-out' %}" class="btn profile-edit-btn">Logout</a> {% endcomment %}
                        <a style="text-decoration: none;" href="{% url 'logout' %}" class="btn profile-edit-btn">Logout</a>
                        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

                        
                        {% endif %}
                        <br><br>
                        {% if request.user.is_authenticated and request.user != profile.user %}
                            {% if follow_status == True %}
                                <a href="{% url 'follow' profile.user 0 %}" class="btn profile-edit-btn" style="color: red;">Unfollow</a> <br><br>
                            {% else %}
                                <a href="{% url 'follow' profile.user 1 %}" class="btn profile-edit-btn" style="color: green;">Follow</a> <br><br>
                            {% endif %}
                        {% endif %}

                        {% if request.user.is_authenticated and request.user != profile.user %}
                                <a href="{% url 'conversation' profile.user  %}" class="btn profile-edit-btn">Message</a> <br><br>
                                {% if profile in request.user.profile.blocked_users.all %}
                                    <a href="{% url 'unblock_user' profile.id %}" class="btn profile-edit-btn" style="color: red;">Unblock</a> <br><br>
                                {% else %}
                                    <a href="{% url 'block_user' profile.id %}" class="btn profile-edit-btn" style="color: red;">Block</a> <br><br>
                                {% endif %}
                        {% endif %}
                        <br>

                    
                    
                    
                    

                </div>

                

                <div class="profile-bio">
                    <br>
                    {% if profile.bio %}
                    <p><span class="profile-real-name"></span>◉ {{profile.bio}}</p>
                    {% endif %}
                    {% if profile.location %}
                    <p><span class="profile-real-name"></span>◉ {{profile.location}}</p>
                    {% endif %}
                    {% if profile.url %}
                    <p><span class="profile-real-name"></span>◉ <a href="{{profile.url}}">{{profile.url}}</a></p>
                    {% endif %}
                    <br><br>
                    <div class="profile-user-settings">
                        <a  href="{% url 'profile' profile.user %}"  class="btns profiele-edit-btn">Posts</a>
                        {% if request.user == profile.user %}
                        <a  href="{% url 'profilefavourite' profile.user %}"  class="btns profeile-edit-btn">Saved</a>
                        {% endif %}
                    </div>
                </div>


                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{posts_count}}</span> posts</li>
                        <li><span class="profile-stat-count">{{followers_count}}</span> followers</li>
                        <li><span class="profile-stat-count">{{following_count}}</span> following</li>
                    </ul>
                    <br>
                    
                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>
    
    <main>

        <div class="container">

            <div class="gallery">
                
                {% for post in posts %}
                <a href="{{post.get_absolute_url}}"><div class="gallery-item" tabindex="0">

                    <img src="{{ post.picture.url }}" class="gallery-image" alt="" style="width: 500px; height: 300px; object-fit: cover;">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.comment.count}}</li>
                        </ul>

                    </div>

                </div></a>
                {% endfor %}

                

                

            </div>
            <!-- End of gallery -->


        </div>
        <!-- End of container -->

    </main>
    {% endblock content %}
